:host {
  display: block;
}
/* Contenedor con display flex */
.flex-container {
  display: flex;
  flex-direction: column; /* Los elementos estarán en columna */
  position: relative;
  top: 0;
}

h2{
  font-size: 40px;
  font-style: italic;
  padding-top: 2%;
  text-decoration: underline;
}

/* Mensaje alineado a la izquierda */
.message-left {
  align-self: flex-start; /* Alinea al principio (izquierda) */
  background-color: #e5e5ea;
  color: black;
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  max-width: 70%;
}

/* Mensaje alineado a la derecha */
.message-right {
  align-self: flex-end; /* Alinea al final (derecha) */
  background-color: #0078ff;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  max-width: 70%;

}

#message-container {
  max-height: 600px; /* Limita la altura máxima del contenedor */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Asegura que los nuevos mensajes estén al final */
}
