<div class="chat-container">
  <div class="chat-box">
    <!-- Título de bienvenida -->
    <h2>Bienvenido a LKS-ChatBot</h2>

    <!-- Área donde se muestran los mensajes -->
    <div class="message-area" id="message-container" #chatContainer>

      <!-- Si no hay mensajes, muestra un mensaje de bienvenida -->
      <p class="message-left" *ngIf="mensajes.length === 0">
        "¡Hola! Soy LKS-ChatBot, tu asistente inteligente. Estoy aquí para responder tus preguntas, ayudarte con lo que necesites y hacer tu experiencia más fácil. ¡Dime en qué puedo ayudarte hoy!"
      </p>

      <!-- Recorre el array de mensajes y muestra cada mensaje según su tipo -->
      <ng-container *ngFor="let item of mensajes; index as i">

        <!-- Muestra los mensajes del usuario alineados a la derecha -->
        <p *ngIf="item.tipo === 'usuario'" class="message-right">
          {{ item.texto }}
        </p>

        <!-- Muestra los mensajes del bot alineados a la izquierda -->
        <p *ngIf="item.tipo === 'bot'" class="message-left">
          {{ item.texto }}
        </p>

      </ng-container>
    </div>
  </div>
</div>
