<style>
  :host {
  display: block;
}


#boton{
  width: 12em;
  height: 3em;
  background-image: url('/assets/images/boton.png');
  background-repeat: no-repeat;
  margin-left: 1.5em;
  border-radius: 1em;
}

.footer {
  position: fixed;
  bottom: 2em;
  left: 35em;
  width: 45%;
  background-color: #ff5c04;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 1.5em;
  display: flex;
  flex-direction: inline;
}

#textBox{
  border-radius: 1em;
  width: 25em;
  padding-left: 0.5em;
  padding: 10px;
}

</style>
<div class="footer">
  <input type="text" id="textBox" #inputPregunta placeholder="Introduce tu pregunta" class="border mr-0.5" (keydown.enter)="enviarMensaje(inputPregunta.value)" />
  <input id="boton" value="Enviar" type="button" (click)="enviarMensaje(inputPregunta.value)"  />
</div>
