:host {
  display: block;
}


#boton{
  width: 4em;
  height: 1.9em;
  background-image: url('/assets/images/boton.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.footer {
  position: fixed;
  bottom: 15px;
  left: 650px;
  width: 30%;
  background-color: #ff5c04;
  color: white;
  text-align: center;
  padding: 10px;
}

