.barra {
  margin-left: 1.75em;
  width: 11.5em;
}

.text{
margin-left: 1.75em;
margin-right: 1.75em;
text-align: center;
color: white;

}

.conver {
  margin-left: 1.5em;
  margin-bottom: 0.2em;
  display: block;
  padding: 0.2em;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 1em;
  max-width: fit-content;
  word-break: break-all;
}

.conver:hover {
  background-color: white;
  color: black;
}





