
<div class="bg-slate-100 w-screen h-screen antialiased text-slate-300 selection:bg-blue-600 selection:text-white fixed">
  <div class="flex flex-col relative w-screen">
      <div id="menu">
          <div id="logo">
              <h1 class="text-lg md:text-2xl font-bold">LKS</h1>
              <p class="text-1x1 text-justify">Consultora tecnológica y de negocio que impulsa la transformación digital de empresas.</p>
          </div>
          <h2 class="text">HISTORIAL DE CONVERSACIONES</h2>
          <hr class="barra">
          <br>
          <ul>
            <!-- Lista de conversaciones -->
            <li *ngFor="let conv of conversations$ | async"
                (click)="openConversation(conv.id)"
                [class.selected]="conv.id === selectedChatId"
                class="conver">
                <button>{{ conv.title }}</button>
                <button (click)="deleteConversation(conv.id); $event.stopPropagation()" style="margin-left: 10px;">Borrar</button>
            </li>
          </ul>


          <!-- Input para el nuevo chat -->
          <input
              id="nuevoChatInput"
              placeholder="Nuevo Chat"
              type="text"
              [(ngModel)]="newChatTitle"
              (keydown.enter)="createNewConversation()"
              class="nuevo-chat-input"
          />

          <button type="button" (click)="clearHistory()" class="clear-history-btn">Delete All</button>
        </div>
  </div>
</div>
